.list-group.mt-4
  = link_to root_path, class: "list-group-item list-group-item-action flex-column align-items-start #{active_class?(root_path)}" do
    .d-flex.w-100.justify-content-between
      %h5.mb-1= t('nav.title')
      %small
    %div
  - @labs.each do |l|
    = link_to lab_path(l), class: "list-group-item list-group-item-action flex-column align-items-start #{active_class?(lab_path(l))}" do
      .d-flex.w-100.justify-content-between
        %h5.mb-1= l.title
      %p.mb-1= l.topic
      %small.text-muted= t('activerecord.updated_in_words', time_in_words: time_ago_in_words(l.updated_at))
