%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  = link_to root_path, class: 'navbar-brand' do
    = fa_icon 'leanpub'  
  %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{ class: active_class?(root_path) }
        = link_to root_path, class: 'nav-link' do
          = fa_icon 'home'
          = t('link.home')
          %span.sr-only (current)
      %li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          = fa_icon 'flask'
          = t('link.summary')
        .dropdown-menu{"aria-labelledby" => "dropdown01"}
          - if @labs.any?
            - @labs.each do |l|
              = link_to l.title, lab_path(l), class: "dropdown-item #{active_class?(lab_path(l))}"
          - else
            %a.dropdown-item.disabled= t('link.no_labs')
    %ul.navbar-nav.my-2.my-md-0.mr-md-3
      - if logged_in?
        %li.nav-item
          = link_to '#', class: 'nav-link' do
            = fa_icon 'user'
            = current_user.name
        %li.nav-item
          = link_to sessions_path, method: :delete, class: 'nav-link' do
            = fa_icon 'sign-out'
            = t('link.sign_out')
      - else
        %li.nav-item{ class: active_class?(new_session_path) }
          = link_to new_session_path, class: 'nav-link' do
            = fa_icon 'sign-in'
            = t('link.sign_in')
        %li.nav-item{ class: active_class?(new_user_path) }
          = link_to new_user_path, class: 'nav-link' do
            = fa_icon 'user-plus'
            = t('link.sign_up')