%h5.text-center.mt-4#theory= t('nav.theory')
.report
%h5.text-center.mt-4#listing= t('nav.listing')
.report
%h5.text-center.mt-4#process= t('nav.process')
.report
%h5.text-center.mt-4#results= t('nav.results')
.report
%h5.text-center.mt-4#conclusion= t('nav.conclusion')
.report
