!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : t('title.default')
      -
      = t('title.main')
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tag
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    - flash.each do |key, value|
      %div{class: flash_class(key)}
        = value
    %main.container-fluid{:role => "main"}
      = yield