!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : t('title.default')
      -
      = t('title.main')
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tag
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    .container.mt-4
      - flash.each do |key, value|
        %div.row.alert-dismissible.fade.show{:role => "alert", class: flash_class(key.to_sym)}
          = value
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
    %main.container-fluid{:role => "main"}
      = yield